<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibothub.heap.shiro.dao.RoleMapper">

    <select id="selectKeysByUsername" parameterType="java.lang.String" resultType="java.lang.String">
        select r.key_ from sys_role r inner join
        sys_user_role ur on r.id=ur.role_id inner join
        sys_user u on u.id=ur.user_id
        where u.username=#{username}
    </select>

    <select id="selectByUsername" resultType="com.ibothub.heap.shiro.model.entity.User">
        select * from sys_user ${ew.customSqlSegment}
    </select>
</mapper>